p.goToStatus {
	margin-bottom: 0;
}

button {
	font-size: 12px;
}

th {
	color: #9b9b9b;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: .25px;
	line-height: 18px;
	border: none
}

td {
	padding: 5px;
	border: none;
}

table {
	border-collapse: collapse;
	width: 100%;
    margin-top: 3%;
}

tr {
	border-bottom: solid 3px #ececec;
	background: none !important;
}

a.rpa_newActivity {
	background: #b1c568;
	padding: 11px;
	border-radius: 6px;
	color: white;
	font-size: 12px;
	border: 0;
	margin-right: 12px;
	float: right;
	margin-left: 11px;
	text-align: center;
}

.actionColumn {
    padding-left: 1%;
}

input#rpa_updateStatusButton {
    background-color: #70ada3 !important;
    border: none !important;
    box-shadow: none !important;
    color: white;
    margin: 0 auto;
}

a:hover {
	text-decoration: none;
}

input[type="button"] {
	padding: 10px;
	border-radius: 6px;
	width: fit-content;
	margin-bottom: 0;
	font-size: 12px;
	border: 0;
	margin-left: 15px;
}

.importCSVdiv {
	display: none;
	float: left;
}

.csvDataFile {
	float: left;
	margin-right: 25px;
	margin-top: 5px;
}

.importCSVbtn {
	float: left;
	margin-right: 10px;
}

.cancelCSVbtn {
	float: left;
	margin-right: 10px;
}

.importMainDiv {
	float: right;
}

#rpa_updateStatus_popup{
	display: none;
}

#div_rpa_popup{
    width: 270px !important;
    height: auto;
    text-align: center;
}

.popupSolutions {
	padding-bottom: 20px !important;
}
 
.downloadFilesRFI{
    background: rgba(128, 0, 0, 0.7);
    padding: 10px;
    border-radius: 6px;
    font-size: 12px;
    border: 0;
    float: right;
    text-align: center;
 }

.downloadFilesRFI a {
	color: white !important
}

.downloadFilesRFI a:hover {
	color: white !important
}

.deleteRemediationTracker{
    text-align: center;
    background-color: #70ada3 !important;
    color: white !important;
    font-weight: normal;
    float: right;
}
.importFileRFI_button {
    background: rgba(177, 197, 104, 0.6);
    color: white;
    margin-right: 15px;
}

.downloadFilesRFI a {
    color: white;
}
.downloadFilesRFI a:hover {
    color: white;
}

.importCSVdivUpload {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

.importFilesRFI{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.uploadDownloadRFI{
    display: inline-block !important;
    width: max-content !important; 
}

#importFile_rfi {
    display: none;
}

.selectFileRFI {
    border-radius: 6px;
    background: #a5a5a5;
    color: white;
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 0;
}

.fileNameRFI {
    margin-left: 5px;
}

.listDocumentsUploadedRFI {
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
    letter-spacing: 0.5px;
    line-height: 35px;
    color: black;
}

a:hover.listDocumentsUploadedRFI {
    color: black;
}

li {
    list-style: none;
}

h3{
    letter-spacing: 0.75px;
}

ul {
    padding-left: 0;
    padding-top: 10px;
}

.aggregateButton{
    padding: 11px;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    border: 0;
    margin-right: 12px;
    float: right;
    background: #4d8934;
    margin-left: 5%;
}

a:hover.aggregateButton {
    color: white;
}