@font-face {
    font-family: 'Roboto-regular';
    src: url('../font/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto-italic';
    src: url('../font/roboto_italic_macroman/Roboto-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto-bold';
    src: url('../font/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto-bolditalic';
    src: url('../font/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.woff') format('truetype');
    font-weight: bold;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto-thin';
    src: url('../font/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto-thinitalic';
    src: url('../font/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto-light';
    src: url('../font/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto-lightitalic';
    src: url('../font/roboto_lightitalic_macroman/Roboto-LightItalic-demo.html') format('woff');
    font-weight: 100;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto-medium';
    src: url('../font/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto-medium-italic';
    src: url('../font/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoSlab-bold';
    src: url("../font/robotoslab_bold_macroman/RobotoSlab-Bold-webfont.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-semibold';
    src: url("../font/robotoslab_bold_macroman/RobotoSlab-Bold-webfont.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-light';
    src: url("../font/robotoslab_light_macroman/RobotoSlab-Light-webfont.woff") format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-regular';
    src: url("../font/robotoslab_regular_macroman/RobotoSlab-Regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-thin';
    src: url("../font/robotoslab_thin_macroman/RobotoSlab-Thin-webfont.woff") format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../font/open-sans/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-bold';
    src: url("../font/open-sans/opensans_bold_macroman/OpenSans-Bold-webfont.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-semibold';
    src: url("../font/open-sans/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}



