.recDocumentsButtons{
    color: grey;
    border-color: #cdced9;
    background-color: #f7f8f9;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #cdced9;
    padding: 5px 12px 5px 12px;
    font-size: 12px;
}

.recDocumentsButtons:hover {
    color: black;
}